@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

.logo-fondo {
  position: fixed;

  inset: 0;

  background-image: url('/logo-fondo/logo-fondo.jpeg');

  background-repeat:repeat;

  background-size: 120px;

  opacity: 0.18;

  pointer-events: none;

  z-index: 0;
}